<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{static/stylesheet/styles.css}" rel="stylesheet" />
    <script th:src="@{static/js/script.js}"></script>

    <title>Admin</title>
</head>
<body>
<nav class="navbar">
    <h2>Admin Dashboard</h2>


    <a href="/">
        <img src="../static/images/khzlogo.PNG" th:href="@{/}" class="khzlogo" alt="">
    </a>
    <ul class="nav-list">
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/cars}">Cars</a></li>
        <li><a th:href="@{/orders}">Orders</a></li>
    </ul>
</nav>


</body>
</html>
