<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{static/stylesheet/admin-styles.css}" rel="stylesheet" />
    <script th:src="@{static/js/script.js}"></script>

    <title>Admin</title>
</head>
<body class="crt">
<h1>Order list</h1>
<table class="taskTable">
    <thead class="table">
    <tr>
        <th>Order id</th>
        <th>Car id</th>
        <th>Start date</th>
        <th>End date</th>
    </tr>
    <br>
    </thead>
    <br>
    <tbody class ="tableBody">

    <!-- Iterate through the list of tasks -->
    <tr th:each="order : ${orderEntity}">
        <!-- Access Order properties -->
        <td class="cellStyle" th:text="${order.id}"></td>
        <td class="cellStyle" th:text="${order.car_id}"></td>
        <td class="cellStyle" th:text="${order.start_date}"></td>
        <td class="cellStyle" th:text="${order.end_date}"></td>
        <!-- Add a button to edit the task -->
        <td class="editCell">

            <a id="editButton" th:href="@{/edit-task(taskId=${task.id})}">edit</a>
            <a id="removeButton" th:href="@{/delete-task(taskId=${task.id})}">x</a>
        </td>
    </tr>

    <tr th:if="${#lists.isEmpty(userOrders)}">
        <br>
        <td colspan="3">No order found</td>
    </tr>
    </tbody>
</table>
<ul>
    <li>
        <a class="" th:href="@{/create-order}">Create order</a>
    </li>
        <li>
            <a class="" th:href="@{/edit-order}">edit order</a>
        </li>
</ul>

<br>
<a class="postTodo" th:href="@{/}"></a>

</body>
</html>