<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Cars</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">
    <script src="../static/scripts.js"></script>

</head>
<body>
<h1>Available Cars</h1>
<div th:if="${not #lists.isEmpty(availableCars)}">
    <ul>
        <li th:each="car : ${availableCars}">
            <td>
<!--                <td><img th:src="${cars.image}" alt="Car Image" style="max-width: 600px; max-height: 300px;"></td>-->

            </td>
            <span th:text="${car.brand} + ' ' + ${car.model} + ' - ' + ${car.color}"></span>
            <form th:action="@{/order-form}" method="get">
                <input type="hidden" th:name="carId" th:value="${car.id}"/>
                <button type="submit">Book this car</button>
            </form>
        </li>
    </ul>
</div>

<div th:if="${noCarsAvailable}" th:script="javascript:showNoCarsPopup()"></div>

</body>
</html>
