<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">


    <title>Car Catalogue</title>
</head>
<body>
<nav class="navbar">
    <h2>Car catalogue</h2>

    <a href="/">
        <img src="../static/images/khzlogo.PNG" th:href="@{/}" class="khzlogo" alt="">
    </a>
</nav>

<section class="form-section">

    <div th:if="${not #lists.isEmpty(cars)}">
        <ul class="carCards">
            <li class="car-li" th:each="car : ${cars}">
                <img th:src="${car.image}" alt="Car Image" style="max-width: 600px; max-height: 300px;">
                <p>Car ID:</p>
                <span th:text="${car.id}"></span>
                <p>Car brand:</p>
                <span th:text="${car.brand}"></span>
                <p>Car model:</p>
                <span th:text="${car.model}"></span>
                <p>Car color:</p>
                <span th:text="${car.color}"></span>
                <p>Car year:</p>
                <span th:text="${car.year}"></span>
                <p>Car mileage:</p>
                <span th:text="${car.mileage}"></span>
                <p>Car terrain:</p>
                <span th:text="${car.terrain}"></span>

                <a class="button" th:href="@{/edit-car(carId=${car.id})}">Edit Car</a>


            </li>
        </ul>
    </div>


</section>
</body>
</html>
