<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{static/stylesheet/styles.css}" rel="stylesheet" />
    <link th:href="@{static/stylesheet/lightbox.css}" rel="stylesheet" />
    <title>Car catalogue</title>
</head>
<body>
<h1>Car catalogue</h1>
<div class="grid-container">
    <!-- Iterate through list of cars -->
    <div class="card" th:each="car : ${cars}">
        <a href="/">
            <img src="../static/images/khzlogo.PNG" th:href="@{/}" class="khzlogo" alt="">
        </a>
<!--        <img th:src="${car.frontImg}" alt="Car Image" style="max-width: 100%; max-height: 300px;">-->

        <div class="card-content">
            <table>
                <tr>
                    <th>Car ID:</th>
                    <td th:text="${car.id}"></td>
                </tr>
                <tr>
                    <th>Brand:</th>
                    <td th:text="${car.brand}"></td>
                </tr>
                <tr>
                    <th>Model:</th>
                    <td th:text="${car.model}"></td>
                </tr>
                <tr>
                    <th>Year:</th>
                    <td th:text="${car.year}"></td>
                </tr>
                <tr>
                    <th>Color:</th>
                    <td th:text="${car.color}"></td>
                </tr>
                <tr>
                    <th>Mileage:</th>
                    <td th:text="${car.mileage}"></td>
                </tr>
                <tr>
                    <th>Terrain:</th>
                    <td th:text="${car.terrain}"></td>
                </tr>
            </table>
        </div>
        <div class="card-actions">
            <a th:href="@{/edit-car(carId=${car.id})}">Edit Car</a>
        </div>
    </div>
</div>

<ul>
    <li>
        <a class="" th:href="@{/create-order}">create order</a>
    </li>

</ul>

<br>
<a class="postTodo" th:href="@{/}"> < </a>
<script th:src="@{static/stylesheet/lightbox.js}"></script>
</body>
</html>