<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{static/styles/styles.css}" rel="stylesheet" />

    <title>Edit Task</title>
</head>

<body class="crt">
<h1>Edit Car</h1>
<form th:action="@{/save-edit-task}" method="post">
    <!-- Hidden field to hold the task ID -->
    <label>Enter Id of the task you want to edit: </label>
    <br>
    <input class="command" type="text" th:name="carsId" th:value="${carId}" placeholder="enter id.."/>
    <br>

    <!-- Input field for the task title -->
    <label>Title:</label>
    <br>
    <input class="command" type="text" th:name="title" th:value="${carBrand}" placeholder="add new brand.."/>
    <br/>

    <!-- Textarea for the task description -->
    <label>Description:</label>
    <br>

    <input class="command" th:name="description" th:text="${carModel}" placeholder="enter model.."/>

    <br/>

    <!-- Button to submit the form -->
    <button class="postTodo" type="submit">Save Changes</button>

    <!--    <div id="postDiv">-->
    <!--        <span class="postTodo" type="submit">Save changes</span>-->

    <!--    </div>-->

</form>
<br>,
<a class="postTodo" th:href="@{/}"> < </a>

</body>
</html>