<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">


    <title>Edit Car</title>
</head>

<body>
<h1>Edit Car</h1>
<section class="section-form">

          <form th:action="@{/edit-car}" method="post">
                <label>Enter Id of the car you want to edit: </label>
                <br>
                <input class="command" type="text" th:name="carId" th:value="${carId}" placeholder="enter id.."/>
                <br>

                <label>Brand:</label>
                <br>
                <input class="command" type="text" th:name="carBrand" th:value="${carBrand}" placeholder="add new brand.."/>
                <br/>

                <label>Model:</label>
                <br>

                <input class="command" type="text" th:name="carModel" th:value="${carModel}" placeholder="enter model.."/>

                <br/>

                <button class="postTodo" type="submit">Save Changes</button>

                <!--    <div id="postDiv">-->
                <!--        <span class="postTodo" type="submit">Save changes</span>-->

                <!--    </div>-->

            </form>



</section>

<br>,
<a class="postTodo" th:href="@{/save-edit-car}"></a>

</body>
</html>