
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="..\static\stylesheet\styles.css">
</head>
<body class="crt">
<nav class="navbar">
    <ul class="nav-list">
        <a href="order-page.html">Boka hyrbil</a>
        <li>
            <a class="" th:href="@{/register}">register</a>
        </li>
        <li>
            <a class="" th:href="@{/login}">login</a>
        </li>
        <li>
            <a class="" th:href="@{/logout}">logout</a>
        </li>
    </ul>
</nav>
<section class="car-section">
    <div class="grid-container">
        <div class="grid-item">asdasd<img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\smallGOLF.PNG" alt="VW golf"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\smallMAZDA3.PNG" alt="Mazda 3"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\smallYARIS.PNG" alt="Toyota Yaris"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\sport911.PNG" alt="Porsche 911"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\sportM4.PNG" alt="BMW M4"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\sportRS6.PNG" alt="Audi RS6"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\suvCRV.PNG" alt="Honda CRV"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\suvRAV4.PNG" alt="Toyota RAV4"></div>
        <div class="grid-item"><img src="C:\Users\P\ProgrammeringRepos\JavaProjekt\khzExamen\src\main\resources\static\images\suvROGUE.PNG" alt="VW golf"></div>
    </div>
</section>
</body>
</html>
