<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental Form</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">
</head>
<body>
    <nav class="navbar">

        <img src="../static/images/khzlogo.PNG" th:href="@{/home}" class="khzlogo" alt="">
        <ul class="nav-list">
            <li>
                <a class="" th:href="@{/register}">register</a>
            </li>
            <li>
                <a class="" th:href="@{/login}">login</a>
            </li>
            <!-- <li>
                <a class="" th:href="@{/logout}">logout</a>
            </li> -->
        </ul>
    </nav>
    <section class="form-section">
        <div class="form-container">
            <form action="/submit-rental" method="post" class="form-flex">
                <div class="form-column">
                    
                    <div class="form-group">
                        <label for="start-date">Start Date:</label>
                        <input type="date" id="start-date" name="startDate" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="start-time">Pickup Time:</label>
                        <input type="time" id="start-time" name="startTime" required>
                    </div>
                    <div class="form-column">
                        <label for="pickup-city">Pickup City:</label>
                        <select id="pickup-city" name="pickup_city" required>
                            <option value="" disabled selected>Select city</option>
                            <option value="stockholm">Stockholm</option>
                            <option value="malmo">Malmö</option>
                            <option value="goteborg">Göteborg</option>
                        </select>
                    </div>
                </div>

                <div class="form-column">
                    <div class="form-group">
                        <label for="end-date">End Date:</label>
                        <input type="date" id="end-date" name="endDate" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="end-time">Return Time:</label>
                        <input type="time" id="end-time" name="endTime" required>
                    </div>
                    <div class="form-column">
                        <label for="return-city">Return City:</label>
                        <select id="return-city" name="return_city" required>
                            <option value="" disabled selected>Select city</option>
                            <option value="stockholm">Stockholm</option>
                            <option value="malmo">Malmö</option>
                            <option value="goteborg">Göteborg</option>
                        </select>
                    </div>
                </div>
                <button class="button" type="submit">Check availability</button>
            </form>
        </div>
    </section>
</body>
</html>