<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{static/stylesheet/styles.css}" rel="stylesheet" />

    <title>Order overview</title>
</head>
<body>
<nav class="navbar">
    <h2>Bookings</h2>
    <a href="/">
        <img src="../static/images/khzlogo.PNG" th:href="@{/}" class="khzlogo" alt="">
    </a>
</nav>
<section class="form-section">

<table class="order-table">

    <tbody class="table">

    <!-- Iterate through list of cars-->
    <tr class="grid-item" th:each="orders : ${orders}">

        <th>Order ID:</th>
        <th>Start date:</th>
        <td th:text="${orders.startDate}"></td>
        <th>End date:</th>
        <td th:text="${orders.endDate}"></td>
        <th>Customer name:</th>
        <td th:value="${orders.customerName}"></td>
        <th>Customer email:</th>
        <td th:value="${orders.customerEmail}"></td>



        <td>
            <a th:href="@{/edit-order(ordersId=${orders.id})}">Edit order</a>
        </td>
    </tr>
    </tbody>

</table>
</section>


<br>
<a class="postTodo" th:href="@{/}"> < </a>

</body>
</html>