<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">
</head>
<body>
<nav class="navbar">
    <h2>ORDER PAGE</h2>

    <a href="/">
        <img src="../static/images/khzlogo.PNG" th:href="@{/}" class="khzlogo" alt="">
    </a>

</nav>
<section class="order-section">
    <div class="order-container" th:if="${car != null}">
        <img th:src="${car.image}" alt="Car Image" style="max-width: 100%; max-height: 300px;">
        <p>Car ID: <span th:text="${car.id}"></span></p>
        <p>Brand: <span th:text="${car.brand}"></span></p>
        <p>Model: <span th:text="${car.model}"></span></p>
        <p>Color: <span th:text="${car.color}"></span></p>
        <p>Description: <span th:text="${car.description}"></span></p>


        <form th:action="@{/order/save-order}" th:value="" method="post">
            <label for="customerName">Name:</label>
            <input type="text" id="customerName" th:name="customerName" th:value="${orders.customerName}"/>
            <label for="customerEmail">Email:</label>
            <input type="text" id="customerEmail" th:name="customerEmail" th:value="${orders.customerEmail}"/>
<!--            <label for="carId">Name:</label>-->
<!--            <input type="text" id="carId" th:name="carId" th:value="${car.id}"/>-->
<!--            <label for="carBrand">Name:</label>-->
<!--            <input type="text" id="carBrand" name="carBrand" required>-->
<!--            <label for="carDescription">carDescription:</label>-->
<!--            <input type="text" id="carDescription" name="carDescription" required>0-->
            <button type="submit">Submit Booking</button>
        </form>
    </div>
    <div th:if="${car.id == null}">
        <p>Car not found.</p>
    </div>
</section>

</body>
</html>
