
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Car Rental Form</title>
  <link rel="stylesheet" type="text/css" href="../static/stylesheet/styles.css">
  <script src="../static/scripts.js"></script>

</head>
<body>
<nav class="navbar">
  <img src="../static/images/khzlogo.PNG" th:href="@{/home}" class="khzlogo" alt="">
</nav>
<section class="form-section">

  <div class ="center-console">
    <h1>Booking Successful!</h1>
    <br>
    <p>Thank you<span th:text="${customerName}"></span>, for booking the <span th:text="${car.brand} + ' ' + ${car.model}"></span>.</p>
    <p>We will contact you soon at <span th:text="${customerEmail}"></span> with further details.</p>

    <div th:if="${not #lists.isEmpty(availableCars)}">
    </div>

</section>
</body>
</html>