* {
    margin: 0;
    padding: 0;
}

body


.car-section {
    width: auto;
    height: auto;
    justify-content: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the width as needed */
    gap: 20px; /* Adjust the gap between grid items */
}

.grid-item {
    overflow: hidden; /* Ensure images don't overflow */
    border-radius: 8px; /* Optional: Add rounded corners to images */
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.car-section {
    width: auto;
    height: auto;
    justify-content: center;

}

.nav-list {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    height: 20vh;
    background-color: rgb(30, 135, 228);
    align-content: center;
    border-style: solid;
    border-color: black;


}

li {
    font-size: larger;
}


a {
font-size: xx-large;
}

.table {
    display: block;
    height: 100vh;
    border-collapse: separate;
    border-spacing: 0;
    align-items: center;
    justify-content:center;

      }


table, th, td {
    border-collapse: collapse;
  }
  th, td {
    border-top: 1px solid;


    padding: 5px;
    text-align: left;
  }

  @media only screen and (max-width: 768px) {
      .grid-item {
          width: calc(50% - 20px);
      }
  }

  @media only screen and (max-width: 480px) {
      .grid-item {
          width: calc(100% - 20px);
      }
  }